$base-color: rgba(255, 250, 231, 1);
$accent-color: rgba(240, 115, 32, 1);
$primary-color: rgba(43, 43, 43, 1);
$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);
$gray-color: #e7e7e7;
$gray-accent-color: #c7c7c7;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

:export {
  base-color: $base-color;
  accent-color: $accent-color;
  primary-color: $primary-color;
  white-color: $white-color;
  black-color: $black-color;
  gray-color: $gray-color;
  gray-accent-color: $gray-accent-color;
  web-width: $breakpoint-desktop;
  breakpoint-mobile: $breakpoint-mobile;
  breakpoint-tablet: $breakpoint-tablet;
  breakpoint-desktop: $breakpoint-desktop;
}
