@import "../styles/variables";
@import "../styles/mixins";

.course-select {
  max-width: $breakpoint-desktop;
  background-color: $primary-color;
  padding: 16px;
  .course-select__title {
    display: block;
    color: $white-color;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 8px;
  }
  select {
    padding: 12px;
    border-radius: 3px;
    border-right: 14px solid transparent;
  }
}

@include mobile {
  .course-select {
    select {
      width: 100%;
    }
  }
}
