@import "../styles/variables";
@import "../styles/mixins";

.course-item {
  display: flex;
  width: 100%;
  min-height: 200px;
  margin: 12px 0 12px 0;
  border-left: 3px solid $accent-color;
  box-shadow: rgba(46, 46, 46, 0.1) 0px 3px 8px;
  cursor: pointer;

  .course-item--box {
    padding: 28px;
  }
  .course-item__info {
    width: 60%;
    background-color: $white-color;
  }
  .info__text {
    display: block;
    max-width: 80%;
  }
  .info__title {
    font-size: 28px;
    margin: 8px 0 20px 0;
    font-weight: 500;
  }

  .course-item__skills {
    width: 40%;
    background-color: $gray-color;
  }
  .skills__text {
    display: block;
    padding: 10px 0;
    border-top: 1px solid $gray-accent-color;
    font-size: 12px;
    font-weight: 500;
  }
  .skills__title {
    font-weight: 700;
    padding-top: 8px;
    border-top: 3px solid $black-color;
  }
}

@include mobile {
  .course-item {
    display: block;
    border-left: none;
    border-top: 3px solid $accent-color;
    .course-item__info,
    .course-item__skills {
      width: calc(100% - 56px);
    }
    .info__title {
      font-size: 22px;
      font-weight: 700;
    }
    .info__text {
      max-width: 100%;
    }
  }
}
