@import "../styles/variables";
@import "../styles/mixins";

.nav-bar--wrapper {
  height: 70px;
  background-color: $primary-color;
  img {
    width: 250px;
    height: 100%;
  }
}
.nav-bar {
  max-width: $breakpoint-desktop;
  margin: 0px auto;
  height: 100%;
}

@include mobile {
  .nav-bar {
    max-width: $breakpoint-mobile;
  }
}
