$base-color: rgba(255, 250, 231, 1);
$accent-color: rgba(240, 115, 32, 1);
$primary-color: rgba(43, 43, 43, 1);
$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);
$gray-color: #e7e7e7;
$gray-accent-color: #c7c7c7;

$web-width: 1680px;

:export {
  base-color: $base-color;
  accent-color: $accent-color;
  primary-color: $primary-color;
  white-color: $white-color;
  black-color: $black-color;
  gray-color: $gray-color;
  gray-accent-color: $gray-accent-color;
  web-width: $web-width;
}
